**/.meteor
*~
**/.dist
**/.cache
**/dev_bundle
**/dev_bundle.xxx
**/dev_bundle_XXX
**/dev_bundle*.tar.gz
**/android_bundle
**/android_bundle*.tar.gz
**/node_*.tar.gz
**/mongo_*.tar.gz
\#*\#
**/.\#*
*.iml
**/*.sublime-project
**/*.sublime-workspace
TAGS
**/*.log
**/*.out
**/npm-debug.log
**/universe
**/.babel-cache
**/mongo-test-output

.fseventsd/
.Spotlight-V100/
.Trashes/
**/.DS_Store
**/._.*
**/build
**/ffs_log

nodeje_files
**/node_modules
**/*.expo/
**/*.env.local
**/*.env.development.local
**/*.env.test.local
**/*.env.production.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.vimsession
**/.viminfo
**/.ter-project
**/.git-
**/.git--
**/.cache/s
**/.webpack_cache
**/.idea
**/*.sln
**/nohup.out

ios_files
**/DerivedData
**/*.xcuserstate
!default.pbxuser
**/*.mode1v3
!default.mode1v3
**/*.mode2v3
!default.mode2v3
**/*.perspectivev3
!default.perspectivev3
xcuserdata/
**/*.moved-aside
**/*.xccheckout
**/*.xcscmblueprint
**/*.hmap
**/*.ipa
**/*.dSYM.zip
**/*.dSYM
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/iOSInjectionProject/

unity_files
**/Library/
**/library
**/Temp
**/temp
**/Obj
**/obj
**/Builds
**/builds
**/Assets/AssetStoreTools*
**/.consulo/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.tmp
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.svd
**/*.pidb.meta
**/*.sysinfo.txt
**/*.apk
**/*.unitypackage
**/*.bin
**/*.log
